body{
    padding: 0px;
    margin: 0px;
    background-image: url(./image/flag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

#cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:black;
}

form{
    background-color: rgba(0, 0, 0, 0.425);
    width: 25%;
    padding: 20px;
    border-radius: 8px;

}

label,input,button,a{
    display: block;
    margin-bottom: 10px;
}

form h1{
    text-align: center;
    font-size: 25px;
}

input{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    color: blue;
}

button{
    width: 30%;
    height: 35px;
    background-color: rgb(84, 223, 84);
    color: white;
    border-radius: 5px;
    border: none;
}

#can{
    background-color: red;
}

section{
    display: flex;
    justify-content: space-evenly;
}

a{
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
}

#user::placeholder{
    color: green;
}

#pass::placeholder{
    color: green;
}
span{
    color: red;
}

